<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP</title>
</head>
<body>
    <div id="main_container" style="width: 99%; text-align: center; margin: auto; border-top-left-radius: 1rem; border-top-right-radius: 1rem;">
        <div id="banner_image" style="border-top-left-radius: 1rem; border-top-right-radius: 1rem;">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/24d86e78828457.5cb0026664504.png" style="width: 100%; height: auto; border-top-left-radius: 1rem; border-top-right-radius: 1rem;">
        </div>
    </div>
    <div id="message_container" style="width: 95%;">
        <h1 style="color: rgb(47, 44, 44);"><b>Hi!</b></h1>
        <p style="color: rgb(47, 44, 44);">Welcome to MyYoutube! We are thrilled to have you join our community</p>
        <p style="color: rgb(47, 44, 44);">Here is your one time Password (OTP)</p>
        <p style="color: rgb(47, 44, 44);">Please enter this code to verify your email address to MyYoutube</p>
        <h1 style="color: #892CDC;">{{otp}}</h1>
        <p style="color: rgb(47, 44, 44);">OTP will expire in <b>5 minutes</b></p>
        <p style="color: rgb(47, 44, 44);">Best Regards,</p>
        <p style="color: #892CDC;"><b>MyYoutube team</b></p>
    </div>
</body>
</html>
